main {
    height: calc(100vh - 100px) !important;
}

.card {
    border: none !important;
}

.name {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 20px;
}

.job {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-style: italic;
    color: grey;
}